# PHPUnit
.phpunit.cache/
.phpunit.result.cache

# PHP actor
.phpactor.json

# Composer authentication
auth.json

# Node.js dependencies
node_modules/
npm-debug.log*
yarn-error.log*

# Vendor directory
vendor/

# Laravel 4 specific
bootstrap/compiled.php
app/storage/

# Laravel 5 & Lumen specific
public/storage/
public/hot/
public/build/

# Laravel 5 & Lumen specific with changed public path
public_html/storage/
public_html/hot/

# Storage
storage/*.key
storage/pail/

# Environment files
.env
.env.backup
.env.production

# Homestead
Homestead.yaml
Homestead.json

# Vagrant
.vagrant/

# IDE / Editor directories
.fleet/
.idea/
.nova/
.vscode/
.zed/
